/* Main container */
.container {
    text-align: center;
    margin-top: 50px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
  
/* Display section */
.display {
    width: 250px;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    background-color: #f1f5f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}
  
/* Buttons grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
    justify-content: center;
}
  
/* Number buttons */
.button-number {
    width: 70px;
    height: 60px;
    background-color: #3366cc;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
/* Operator buttons */
.button-operator {
    width: 70px;
    height: 60px;
    background-color: #ff9933;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.clear-container {
    margin: 10px auto; 
    width: 250px;      
    text-align: left;
}

/* Clear button */
.button-clear {
    width: 20%;
    height: 50px;
    background-color: #ef4444;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
/* Equals button */
.button-equals {
    width: 230px;
    height: 60px;
    background-color: #10b981;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    grid-column: span 3;
}

/* Result styling */
.result {
    color: #0099cc;
    font-weight: bold; 
}  
  